{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block body %}
    <h1>View Cart</h1>
    <a href="/store" id="view-store-link">Continue Shopping</a>
    <p>
    {% if cart_items %}
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            {% for item_id, item_data in cart_items.items() %}
            <tr data-image-id="{{ item_id }}">
                <td><img src="{{ item_data[2] }}" height="50"></td>
                <td class="image-name">{{ item_data[0] }}</td> 
                <td class="image-price">{{ '%.2f'|format(item_data[1]) }}</td>
                <td>
                    <button type="button" class="remove">Remove</button>
                </td>
            </tr>
            {% endfor %}
            <tr id="order-subtotal">
                <td></td>
                <td>Subtotal</td>
                <td>{{ '%.2f'|format(subtotal) }}</td>
            </tr>
        </table>
    {% else %}
        Your cart is empty. Go to <a href="/store">store</a> to start shopping.
    {% endif %}
    </p>

    {# Custom JS script tag #}

{% endblock %}