{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}

{% block body %}
<h1>Upload an image</h1>

<div class="container-form-upload">
    <form method="POST" action="/upload" id="form-image-upload" enctype="multipart/form-data">
        <p>
            <label for="new-image-upload">Select a file: </label>
            <input type="file" name="new-image-upload" id="new-image-upload" required>
        </p>
        <p>
            <label for="new-image-name">Name of image: </label>
            <input type="text" name="new-image-name" id="new-image-name" required>
        </p>
        <p>
            <label for="new-image-price">Price: </label>
            <input type="text" name="new-image-price" id="new-image-price" required>
        </p>
        <button type="submit" id="image-submit">Submit</button> 
    </form>
</div>

<h1>Manage Inventory</h1>

<div class="container-inventory">
    {% if images %}
    <form method="POST" action="/update-inventory" id="form-update-inventory">
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            {% for image in images %}
            <tr>
                <td><img src="{{ image.url }}" height="150"></td>
                <td><input type="text" value="{{ image.name }}"></td> 
                <td><input type="text" value="{{ image.price }}"></td>
                <td><button>Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% endif %}
</div>

{% endblock %}