{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}

{% block body %}
<h1>Upload an image</h1>

<div class="container-form-upload">
    <form method="POST" action="/upload" id="form-image-upload" enctype="multipart/form-data">
        <p>
            <label for="new-image-upload">Select a file: </label>
            <input type="file" name="new-image-upload" id="new-image-upload" required>
        </p>
        <p>
            <label for="new-image-name">Name of image: </label>
            <input type="text" name="new-image-name" id="new-image-name" required>
        </p>
        <p>
            <label for="new-image-price">Price: </label>
            <input type="text" name="new-image-price" id="new-image-price" required>
        </p>
        <button type="submit" id="image-submit">Submit</button> 
    </form>
</div>

<h1>Manage Inventory</h1>

<div class="container-inventory">
    <form method="POST" action="/update-inventory" id="form-update-inventory">
        {% if images %}
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            {% for image in images %}
            <tr data-image-id="{{ image.id }}">
                <td><img src="{{ image.url }}" height="150"></td>
                <td class="image-name"><input type="text" class="edit-inventory" value="{{ image.name }}"></td> 
                <td class="image-price"><input type="text" class="edit-inventory" value="{{ '%.2f'|format(image.price) }}"></td>
                <td class="edit-options">
                    <button type="button" class="save">Save</button>
                    <button type="button" class="remove">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            No inventory found. Use Upload Image above to add item.
        {% endif %}
    </form>
</div>

{# Custom JS script tag #}
<script src="/static/js/adminPage.js"></script>

{% endblock %}