{% extends 'base.html' %}
{% block title %}Store{% endblock %}

{% block body %}
    <h1>Thanks for visiting my store</h1>
    <a href="/cart" id="view-cart-link">View Cart ({{ cart_size }})</a>

    {% if images %}
    <table>
        <tr>
        {% for image in images %}
            <td data-image-id="{{ image.id }}">
                <p class="store-image-url"><img src="{{ image.url }}" height="300"></p>
                <p class="store-image-name">{{ image.name }}</p>
                <p class="store-image-price">{{ image.price }}</p>
                <p>
                    {% if image.id|string in image_ids %}
                    <button type="button" class="add-to-cart hide">Add to Cart</button>
                    <button type="button" class="remove-from-cart">Remove from Cart</button>
                    {% else %}
                    <button type="button" class="add-to-cart">Add to Cart</button>
                    <button type="button" class="remove-from-cart hide">Remove from Cart</button>
                    {% endif %}
                </p>
            </td>
            {% if loop.index is divisibleby 3 %}</tr><tr>{% endif %}
        {% endfor %}
    </table>
    {% else %}
        We don't have any images for sale yet. Check back soon.
    {% endif %}

{# Custom JS script tag #}
<script src="/static/js/storePage.js"></script>

{% endblock %}